@import '@angular/material/prebuilt-themes/azure-blue.css';

body {
  margin: 0;
  background: #f0f2f5;
  font-family: 'Roboto', sans-serif;
  color: #333;
}

/* Animation globale */
* {
  animation: fade 0.35s ease-in-out;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(4px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Material card smoothing */
mat-card {
  border-radius: 14px !important;
  padding: 20px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.08) !important;
  background: white;
}
