<div class="stats-container">

  <div class="stats-grid">

    <div class="stat-card">
      <h3>Total Orders</h3>
      <p class="stat-value">{{ totalOrders }}</p>
    </div>

    <div class="stat-card">
      <h3>Total Customers</h3>
      <p class="stat-value">{{ totalCustomers }}</p>
    </div>

    <div class="stat-card">
      <h3>Total Revenue</h3>
      <p class="stat-value">{{ monthlyRevenue }} €</p>
    </div>

  </div>
  <div class="chart-container">
    <canvas id="ordersChartCanvas"></canvas>
  </div>


</div>
